.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__pic {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin-right: 30px;
  object-fit: cover;
  object-position: center;
}

.profile__info {
  display: grid;
  grid-template-areas: "title edit" "description description";
  grid-template-columns: minmax(auto, 375px) auto;
  align-items: center;
  grid-gap: 7px 18px;
}

.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.142;
  margin: 0;
  grid-area: title;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile__edit-button {
  grid-area: edit;
  background: transparent url(../Images/Edit.svg) center no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  padding: 0;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__description {
  grid-area: description;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__add-content {
  background: transparent url(../Images/Add.svg) center no-repeat;
  height: 50px;
  width: 150px;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
}

.profile__add-content:hover {
  opacity: 60%;
}

@media screen and (max-width: 780px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
    grid-column-gap: 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .profile__title{
    max-width: 375px;
  }

  .profile__pic {
    margin: 0 0 32px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-content {
    margin: 36px 0 0;
    width: 282px;
  }
}

@media screen and (max-width: 480px) {
  .profile__info {
    grid-gap: 14px 10px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 1.21;
    text-align: center;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }

  .profile__description {
    font-size: 14px;
    line-height: 1.21;
  }
}
